<div class="container text-center mt-5 fondo-f">
    <h1>Bienvenido, Pagina en construccion</h1>
    <section class="container">
        <div class="row">
            
            <div class="col-md-4">
                <img src="https://media.giphy.com/media/l378BzHA5FwWFXVSg/giphy.gif" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-8 text center">
                <h1>Navegabilidad</h1>
                <h6>*Video: Tareas</h6>
                <h6>*Resgistro de usuarios: Perfil</h6>
                <h6>*Control y consulta de usuarios: Ajustes</h6>
            </div>
        </div>
    </section>
</div>
