<section class="container-fluid fondo">
    
                <div class="row">
                        <div class="col-md-4 mt-5">
                                <div class="card fondocard">
                                        <div class="card-body text-center">
                                                <h1 class="display-4 titulo">Bienvenido {{nombre}}{{usuarioPerfil.nombre}}</h1>
                                                <p>Este sitio esta siendo desarrollado en conjunto por el grupo de MINIONS UNAB</p>
                                                <img src="https://thumbs.gfycat.com/ShimmeringCorruptBumblebee-small.gif" class="img-fluid" alt="Responsive image">
                                                <hr>
                                                
                                                
                                                     
                                                      </div>
                                                </div>
                                        </div>  
                                        <div class="col-md-8 mt-5">
                                                <div class="card fondocardtwo">
                                                        <div class="card-body text-center">
                                                                <app-tareas></app-tareas>
                                                        </div>    
                                                     
                                                </div>
                                        </div>  
                                     
                                </div>
                        
                   
                        
                        
                        
                    
    
</section>
