<section class="container-fluid fondo">
    
                <div class="row">
                        <div class="col-md-4 mt-5">
                                <div class="card fondocard">
                                        <div class="card-body text-center">
                                                <h1 class="display-4 titulo">Bienvenido {{usuarioPerfil.nombre}}</h1>
                                                <hr>
                                                <app-perfil></app-perfil>
                                                
                                                     
                                                      </div>
                                                </div>
                                        </div>    
                                     
                                </div>
                        
                   
                        <div class="col-md-8 mt-5">
                                <div class="card fondocardtwo">
                                        <div class="card-body text-center">
                                                <app-tareas></app-tareas>
                                        </div>    
                                     
                                </div>
                        </div>
                        
                        
                    
    
</section>
