.fondo {
    background-color: slategray;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.fondocard{
    background-image: url(../../../assets/img/e2b82aded815e80351b929a77519adaa.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    
}
.fondocardtwo{
        background-image: url(../../../assets/img/estrella.jpg);
        height: 100%;
        background-size: cover;
        background-position: center;
        
}
.titulo{
    color: aliceblue;
}
