

<div class="card mt-5">
        <div class="card-body text-center">
                        <h1 class="display-4">Severa Rolota</h1>
                        <hr>
                <div class="row">
                        
                        <div class="col-md-4 text-center">
                                <img src="https://thumbs.gfycat.com/CalculatingWellwornCuscus-size_restricted.gif" class="img-fluid" alt="Responsive image">
                                <p>Se lograron solucionar todas las observaciones</p>
                        </div>
                        <div class="col-md-8">
                          <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o2W3jfvZU4w"  allowfullscreen></iframe>"              
                          </div>
                        </div>
                </div>
            
        </div>
</div>
        
   