<section id="login" class="fondo container-fluid">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_login">
            <div class="card scard">
              <div class="card-body text-center">
                <form>
                  <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
                

                  <div class="form-group">
                      <label for="nombre">Usuario:</label>
                      <input id="nombre" class="form-control" type="text" name="" #nick placeholder="Nombre">
                  </div>
                  <div class="form-group">
                      <label for="contraseña">Contraseña:</label>
                      <input id="contraseña" class="form-control" type="password" name="" #contraseña placeholder="Contraseña">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="onValidarDatos()">Acceder</button>
                  </div>
                  
                  <div class="form-group">
                    <a routerLink="/registro" class="form-control login-user">No esta registrado?</a>
                  </div>
                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                    <span class="fa fa-facebook"></span>
                    FACEBOOK
                  </button>
                  
                </form>
              </div>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
