
        <div class="card mt-5">
                <div class="card-body">
                     <h1 class="display-4">Perfil</h1>
                     <hr>
                        <div class="row">
                                <div class="col-md-6">
                                <p>Nombre: {{usuarioPerfil.nombre}}</p>
                                <p>Usuario: {{usuarioPerfil.usuario}}</p>
                                <p>Fecha de nacimiento: {{usuarioPerfil.nacimiento}}</p>
                                <p>Contraseña: {{usuarioPerfil.contrasena}}</p>
                                <p>Numero de Identificacion: {{usuarioPerfil.identificacion}}</p>
                                </div>
                                <div class="col-md-6">
                                 <img src="https://i.gifer.com/1bNt.gif" class="img-fluid" alt="Responsive image">
                                </div>
                        </div>
                     
                     
                 </div> 
         </div>


 
