<div class="card">
        <div class="card-body"> 
            <form #perfilForm="ngForm" (ngSubmit)="onSubmit(perfilForm)">  
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="perfilService.seleccionarPerfil.$key">
                <div class="form-group">
                        <h6>Nombre:</h6>
                       <input
                        type="text"
                        class="form-control"
                        name="nombre"
                        #name="ngModel"
                        [(ngModel)]="perfilService.seleccionarPerfil.nombre"
                        placeholder="Ingrese su nombre"
                       >
               </div>
               <div class="form-group">
                       <h6>Apellido:</h6>
                       <input
                        type="text"
                        class="form-control"
                        name="apellido"
                        #apellido="ngModel"
                        [(ngModel)]="perfilService.seleccionarPerfil.apellido"
                        placeholder="Ingrese su apellido"
                        >
               </div>
               <div class="form-group">
                       <h6>Correo:</h6>
                       <input
                        type="text"
                        class="form-control"
                        name="correo"
                        #correo="ngModel"
                        [(ngModel)]="perfilService.seleccionarPerfil.correo"
                        placeholder="Ingrese su correo"
                        >
               </div>
               <div class="form-group ">
                       <h6>Fecha de nacimiento:</h6>
                       <input
                        type="date"
                        class="form-control"
                        name="fecha"
                        #fecha="ngModel"
                        [(ngModel)]="perfilService.seleccionarPerfil.fecha"
                        placeholder="Ingrese su fecha de nacimiento"
                        >
                        
               </div>
               <div class="form-group">
                       <input type="file"
                       
                       >
                       
               </div>
               
                <div>
                   <button class="btn btn-primary mr-3" type="submit">
                    Crear
                   </button>
                   <button class="btn btn-primary" type="reset" (click)="resetForm(perfilForm)">
                    Reset
                   </button>
                </div>
               
            </form>
        </div>
        
    </div>
    