<div class="container-fluid">
        <div class="card mt-5">
                <div class="card-body">
                    <h1 class="display-4">Perfil</h1>
                    <hr class="my-4">
                     <p>Nombre: {{usuarioPerfil.nombre}}</p>
                     <p>Nick: {{usuarioPerfil.usuario}}</p>
                     <p>Fecha de nacimiento: {{usuarioPerfil.nacimiento}}</p>
                     <p>Contraseña: {{usuarioPerfil.contrasena}}</p>
                     <p>Numero de Identificacion: {{usuarioPerfil.identificacion}}</p>
                 </div> 
         </div>
</div>

 
