.fondo{
    background-image: url(../../../../assets/img/code-wallpaper-18.png);
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.scard{
    margin-top: 4em;
    opacity: 0.8;
    background-color: floralwhite;
    
}