
    <div class="container-fluid fondo">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div>
          <div class="card scard">
            <div class="card-body text-center">
                <div class="form-group">

                  <h1 class="h3 mb-3 font-weight-normal">Registro</h1>

                  <div class="form-group">
                      
                      <input id="nombre" class="form-control" type="text" name="" required [(ngModel)]="nombre" placeholder="Nombre">
                  </div>

                  <div class="form-group">
                      
                      <input id="nick" class="form-control" type="text" required name="" [(ngModel)]="nick" placeholder="Usuario">
                  </div>
                
                     
                  <div class="form-group">
                      <label for="nacimiento">Fecha de Nacimiento:</label>
                      <input id="nacimiento" class="form-control" type="date" required name="" [(ngModel)]="nacimiento" placeholder="Fecha">       
                  </div>
                  
                  <div class="form-group">
                      
                      <input id="contraseña" class="form-control" type="password" required name="" [(ngModel)]="contrasena" placeholder="Contraseña">
                  </div>

                  <div class="form-group">
                      
                      <input id="identificacion" class="form-control" type="tel" required name="" [(ngModel)]="identificacion" placeholder="Identificación">
                  </div>

                  <div class="form-group">
                      <button type="submit"  class="btn btn-lg btn-primary btn-block" (click)="onAgregarUsuario()">Registrar</button>
                  </div>

                  <button class="btn btn-block btn-social btn-facebook" (click)=" onAgregarUsuarioFB()">
                    <span class="fa fa-facebook"></span>
                    FACEBOOK
                  </button>
                 
                  <div class="form-group">
                      <a routerLink="/login" class="form-control login-user">Ya esta registrado?</a>
                  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


