
    <div class="container mt-5" >
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div>
          <div class="card">
            <div class="card-body text-center">
                <div class="form-group">

                  <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                    
                  
                  <div class="form-group">
                      <input id="nombre" class="form-control" type="text" name="" required [(ngModel)]="nombre" placeholder="nombre">
                  </div>
                  
                  
                  <div>
                      <input id="nick" class="form-control" type="text" required name="" [(ngModel)]="nick" placeholder="Usuario">
                  </div>
                
                     <hr>
                  <div class="form-group">
                      <input id="nacimiento" class="form-control" type="date" required name="" [(ngModel)]="nacimiento" placeholder="Fecha">       
                  </div>
                  
                  <hr>
                 
                  <div>
                          <input id="contraseña" class="form-control" type="password" required name="" [(ngModel)]="contrasena" placeholder="contraseña">
                  </div>
                
                  
                  <div>
                      <input id="identificacion" class="form-control" type="tel" required name="" [(ngModel)]="identificacion" placeholder="identificacion">
                  </div>
                  <div>
                      <button type="submit"  class="btn btn-lg btn-secondary btn-block" (click)="onAgregarUsuario()">Registrar</button>
          
                  </div>
                 
                  <div >
                    <a routerLink="/login" class="form-control login-user">Ya esta registrado?</a>
                  </div>
                  
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


